<div
  class="layout bg-white-2"
  [class.mode-collapsed]="uiStore.uiMode() === 'collapsed'"
  [class.mode-submenu]="uiStore.uiMode() === 'submenu'"
  [class.is-extension]="uiStore.isExtension()"
  [class.is-mobile]="uiStore.isMobile()"
>

  @if (!uiStore.isExtension() && uiStore.isMobile()) {
    <div class="h-toolbar">
      <button
        type="button"
        class="hamburger"
        (click)="uiStore.toggleMobile()"
        aria-label="Open menu"
      >
        <mhd-icon icon="fa-bars" iconSet="fas"></mhd-icon>
      </button>
    </div>

    @if (uiStore.mobileOpen()) {
      <div class="backdrop" (click)="uiStore.closeMobile()"></div>
    }
  }

  <!-- Sidebar -->
  <aside
    class="sidebar bg-white-2 border-r"
    [class.expanded]="uiStore.sidebarExpanded()"
    [class.mobile-drawer]="uiStore.isMobile()"
    [class.mobile-open]="uiStore.isMobile() && uiStore.mobileOpen()"
    (mouseenter)="uiStore.onSidebarEnter()"
    (mouseleave)="uiStore.onSidebarLeave()"
  >
    <nav class="nav" aria-label="Primary">

      <div class="h-toolbar brand">
        <div class="brand">
          <div class="brand-icon">
            <mhd-logo [size]="30"></mhd-logo>
          </div>

          @if (uiStore.sidebarExpanded()) {
            <div class="brand-text">
              <div class="brand-title bold text-md">Traffic</div>
              <div class="brand-subtitle text-sm" [textContent]="'@Mediahuis'">…</div>
            </div>
          }
        </div>
      </div>


      @for (item of uiStore.navItems(); track item.id) {
        <div
          class="nav-item"
          [class.active]="uiStore.isItemActive(item)"
          [class.has-children]="!!item.children?.length"
          (mouseenter)="uiStore.onItemEnter(item)"
          (mouseleave)="uiStore.onItemLeave(item)"
        >
          <button
            type="button"
            class="nav-btn"
            [class.border-y]="uiStore.isItemActive(item)"
            [class.text-primary]="uiStore.isItemActive(item)"
            (click)="uiStore.onItemClick(item)"
          >
            <mhd-icon [icon]="item.icon" [size]="'text-xl'"></mhd-icon>
            <span class="label text-md">{{ item.label }}</span>

            @if (item.children?.length) {
              <i class="chev fa-solid fa-chevron-right"></i>
            }
          </button>

          @if (item.children?.length && uiStore.sidebarExpanded()) {
            <div class="children bg-white" [class.open]="uiStore.openCategoryId() === item.id">
              @if (uiStore.openCategoryId() === item.id) {
                @for (child of item.children; track child.id) {
                  <a
                    class="child"
                    [class.text-primary]="uiStore.isExactActive(child.route)"
                    [routerLink]="child.route"
                    (mouseenter)="uiStore.onChildEnter(item)"
                    (click)="uiStore.onChildClick(child)"
                  >
                    <span class="child-label text-base">{{ child.label }}</span>
                  </a>
                }
              }
            </div>
          }
        </div>
      }
      <div class="sidebar-footer border-t">
        <mhd-menu #userMenu (backdropClick)="uiStore.onSidebarLeave()">
          <button class="menu-item" (click)="userMenu.toggle(); uiStore.logout();">
            <mhd-icon [icon]="'fa-sign-out-alt'" [size]="'text-sm'" class="mr-2"></mhd-icon>
            <span class="menu-item-label">Log out</span>
          </button>
        </mhd-menu>
        <button type="button" class="user-profile-btn" (click)="userMenu.toggle()">
          <div class="avatar">
            <span class="initials">MV</span>
          </div>
          @if (uiStore.sidebarExpanded()) {
            <div class="inline-flex flex-col items-start px-2">
              <span class="user-name text-sm">Michael Vervloet</span>
              <span class="user-name text-xs" [innerText]="'michael.vervloet@mediahuis.be'"></span>
            </div>
          }
          <mhd-icon icon="fa-chevron-down" [size]="'text-xs'" class="ml-auto"></mhd-icon>
        </button>
      </div>

    </nav>
  </aside>

  <!-- Page -->
  <main class="page" [class.hidden]="!uiStore.showPage()">
    <mhd-toolbar [title]="'Content'"></mhd-toolbar>
    <router-outlet />
  </main>
</div>
