:host {
  display: block;
}

.article-page {
  min-height: 100%;
  padding: 10px 14px 20px;
  background: var(--mhd-color-white, #fff);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
  }
}

@media (max-width: 900px) {
  .article-page {
    &__two-col {
      grid-template-columns: 1fr;
    }
  }
}
